.center-web-name{
    height: 55px;
    margin-right: 20%;
}
.right-web-name{
    position: absolute;
    right: 0;
}
.my-nav a{
    color: gray !important;
    text-decoration: none !important;
}
.my-nav a:hover{
    color: blueviolet !important;
}
.web-name{
    position: relative;
}
.shop{
    display: flex;
    justify-content: center;
}
.shop-left{
    width: 20%;
}
.shop-left h3{
    margin: 20px 0px;
}
.shop-left-top,.shop-left-bottom{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
    margin-bottom: 30px;
}
.cat-div{
    display: flex;
    justify-content: space-between;
}
.cat-div .cat-div-titles p{
    color: blueviolet;
}
.choose-color{
    display: flex;
    align-items: center;
}
.filter,.size{
    margin-bottom: 10px;
}
.filter h3{
    margin-bottom: 40px;
}
.size{
    margin-bottom: 20px;
}
.size label{
    margin-left: 10px;
    color: gray;
}
.choose-color p{
    margin-left: 15px;
}
.choose-color .red,.green,.blue,.purple{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 17px;
    cursor: pointer;
    transition: .5s;
}
.choose-color div:hover{
    background-color: rgb(235, 223, 241);
    border: 1px solid gray;
    transform: scale(1.1);
}
.red{
    background-color: red;
}
.green{
background-color: green;
}
.blue{
    background-color: blue;
}
.purple{
    background-color: blueviolet;
}
.shopall{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.shop-right{
    width: 70%;
    margin-left: 50px;
}
.shop-right select{
    padding: 10px 15px;
    background-color: rgb(238, 231, 231);
    transition: .5s;
    outline: none;
}
.shop-right select:hover{
    transform: translateY(-10px) translateX(-5px) scale(1.1);
    background-color: gray;
    box-shadow: 3px 3px 5px rgb(163, 152, 152);
    color: white;
}
.shop .feature-items{
    margin-bottom: 20px;
}
.shop .feature-item{
    width: 70%;
    height: 100%;
    margin-right: 10px;
    border: 1px solid rgb(214, 203, 203);
    box-shadow: 3px 3px 5px rgb(163, 152, 152);
}
.divider{
    width: 50px;
    height: 4px;
    background-color: blueviolet;
    margin-left: 12.5%;
    margin-top: 50px;
}